Pods/*
*.xcuserstate
*.xcbkptlist
*.xcbkptlist

iFRDDomotics.xcworkspace/xcuserdata/sebastien.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

iFRDDomotics.xcworkspace/xcuserdata/sebastien.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate
